.Projects-Grid {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 340px 1fr;
  grid-template-columns: 340px 1fr;
  -ms-grid-rows: 100%;
  grid-template-rows: 100%;
  text-align: left; }

.Projects-Left {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  padding: 10px 0;
  margin: 10px 0 0 10px; }

.Projects-Right {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  padding: 20px; }

@media screen and (max-width: 700px) {
  .Projects-Grid {
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    -ms-grid-rows: auto;
    grid-template-rows: auto; }
  .Projects-Left, .Projects-Right {
    padding: 15px; }
  .Projects-Left {
    padding: 20px;
    margin: 0;
    min-height: 150px;
    background-color: #DDD; }
  .Projects-Right {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    min-height: 300px; } }
