$inputSelectBorder: 1px solid #ccc;
$inputSelectBorderRadius: 3px;
$mainColorMedium: #337ab7;
$mainColorBright: #72c2e4;

.searchFormWrapper {
  padding: 20px;
  background-color: #DDD;
  border-radius: 10px;
  h2 {
    margin-top: 0;
  }
}

@media screen and (max-width: 700px) {
  .searchFormWrapper {
    padding: 0;
    h2 {
      margin-top: 10px;
    }
  }
}

.sharedInputFields > * {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.sharedInputFields {
  p {
    display: inline-block;
    font-size: 10pt;
    width: 30%;
    text-align: right;
  }

  input {
    display: inline-block;
    margin: 0 0 10px 10px;
    padding: 5px;
    width: 66%;
    height: 35px;
    border: $inputSelectBorder;
    border-radius: $inputSelectBorderRadius;
    font-size: 10pt;
    font-weight: bold;
    text-align: center;
  }
}

.datumInputStyle {
  margin: 0 0 10px 10px;
  padding: 0;
  width: 66%;
}

.inputAlert {
  background-color: LightGreen;
}

.centerDIV {
  width: 100%;
  text-align: center;
}

.rechtsquellenContainer {
  width: 100%;
  background-color: $mainColorMedium;
  margin: 10px 0 15px 0;
  padding: 0;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);

  h3 {
    margin: 0;
    padding: 10px;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 12pt;
    text-transform: uppercase;
  }
}

.rechtsquellenItemsContainer {
  display: block;
  width: 100%;
  background-color: #d7d7d7;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid black;

  p {
    margin: 0;
    padding: 0;
    font-size: 10pt;
    float: left;
    vertical-align: middle;
    text-align: left;
  }
}

.rechtsquellenItemsHeader {
  margin: 0;
  padding: 7px 5px;
  width: 100%;
  height: 35px;
  cursor: pointer;

  input {
    margin-top: 3px;
    padding: 0;
    display: inline-block;
    width: 20px;
    float: left;
    cursor: pointer;
  }
}

.highlightHeader {
  color: white;
  background-color: $mainColorBright;
}

.optionenContainer {
  padding: 0;
  margin: 0;
  display: none;
}

.optionZeile {
  width: 100%;
  height: 40px;
  padding-top: 5px;
  vertical-align: middle;
  background-color: #f0f4f5;

  p, input, select {
    margin: 0;
    font-size: 9pt;
  }

  p {
    padding: 6px 5px 0 0;
    width: 42%;
    text-align: right;
    vertical-align: middle;
  }

  input, select {
    padding: 0;
    width: 55%;
    height: 30px;
    border: $inputSelectBorder;
    border-radius: $inputSelectBorderRadius;
    background-color: white;
    text-align: center;
  }

  input {
    float: none;
  }
}

#bundesrechtParagraphArtAnlNummer, #landesrechtParagraphArtAnlNummer {
  width: 24%;
  margin-left: 1%;
}

#bundesrechtParagraphArtAnlTyp, #landesrechtParagraphArtAnlTyp {
  width: 30%;
}