$mainColor: #003366;
$mainColorMedium: #337ab7;
$mainColorBright: #72c2e4;
$mainColorVeryBright: #e6f2ff;

$inputSelectBorder: 1px solid #ccc;
$inputSelectBorderRadius: 3px;
$resultsOverviewBorderRadius: 7px 7px 0 0;